*{
    
     margin: 0;
     padding:0;
     box-sizing: border-box;
    
}


.bg{
    
    width: 100vw ;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: aqua;
    
}

.cta{
    
    font-family: sans-serif;
    width: 95%;
    max-width: 300px;
    padding: 8px 20px;
    border: 1px solid pink;
    color: white;
    text-align: center;
    background-color: firebrick;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -ms-transform:(-50%, -50%);
}



